{% if reviews %}
<div class="col-md-8 card mb-4 mt-3 p-2">
    <div class="accordion" id="review-{{review.id}}">
        <div class="card">
            <div class="card-header p-0" id="headingOne-{{review.id}}">
                <h2 class="mb-0">
                    <button class="btn btn-block text-center p-0" type="button" data-toggle="collapse"
                        data-target="#collapseOne-{{review.id}}" aria-expanded="false"
                        aria-controls="collapseOne-{{review.id}}"
                        aria-label="The button displays the number of reviews. When clicked, it opens up all the reviews.">
                        {% with reviews.count as total_reviews %}
                        <i class="fa-regular fa-comment"></i>
                        {{ total_reviews }}
                        {% endwith %}
                    </button>
                </h2>
            </div>
            <div id="collapseOne-{{review.id}}" class="collapse" aria-labelledby="headingOne-{{review.id}}"
                data-parent="#review-{{review.id}}">
                <div class="card-body">
                    <div class="card-body p-0">
                        {% for review in reviews %}
                        <div class="reviews" style="padding: 10px;">
                            <p class="font-weight-bold">
                                {{ review.name }} says:
                            </p>
                            <span class="text-muted font-weight-normal">
                                {{ review.created_on }}
                            </span>
                            {{ review.body | linebreaks }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if reviewed %}
<div class="alert alert-success" role="alert">
    Your review is waiting for approval.
</div>
{% else %}
{% if user.is_authenticated %}
{% if product_bought %}
<div class="col-md-8 card mb-4 mt-3 p-2">
    <div class="card-body">
        <p>Leave a review:</p>
        <p>Review by: {{ user.username }}</p>
        <form method="post" action="{% url 'add_review' product.id %}" style=" margin-top: 1.3ren;">
            {{ review_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-navy"
                aria-label="Lets the user signed in user who bought this particular product, add a review which will be approved by the admin.">Submit</button>
        </form>
    </div>
</div>
{% endif %}
{% endif %}
{% endif %}