<!-- Checkout buttons -->
<a href="{% url 'products' %}" class="btn btn-sm btn-shop btn-outline-navy rounded-0 btn-lg"
    aria-label="Takes the user to all products page. Keep Shopping.">
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text-uppercase">Keep Shopping</span>
</a>
<a href="{% url 'checkout' %}" class="btn btn-sm btn-outline-navy btn-shop rounded-0 btn-lg"
    aria-label="Takes the user to the checkout page. Secure Checkout">
    <span class="text-uppercase">Secure Checkout</span>
    <span class="icon">
        <i class="fas fa-lock"></i>
    </span>
</a>
<!-- End of checkout buttons -->