.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #EDFFD9;
    z-index: -1;
}

.article-link {
    text-decoration: none;
    color: black;
}

.article-link:hover,
.page-link {
    color: #3A3042;
    text-decoration: none;
}

.btn-like {
    border: none;
    background: transparent;
}