html {
    height: 100%;
}

body {
    background: url('/media/graffiti_child_reading.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    color: #555;
    font-family: 'Raleway', sans-serif;
}

main {
    min-height: 70vh;
}

.header-container {
    padding-top: 100px;
}

.dropdown-menu {
    left: -110px;
}

.girl-reading {
    height: 100vh;
}

/* Create an overlay pseudo-element */
/* https://stackoverflow.com/questions/28121731/use-pseudo-element-to-create-background-overlay */
/* body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 164px);
    background-color: rgba(0, 0, 0, 0.1);
} */


.display-4.logo-font.text-black {
    font-size: 1.5rem;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: white;
}

.main-navbar {
    padding: 8px 0 0 0;
}

/* Specials Icons */
.specials-icons {
    width: 25px;
    height: 25px;
}

.specials-icons-sale {
    width: 35px;
    height: 35px;
}

.specials-icons-card {
    position: absolute;
    top: 0;
    right: 0;
    background: yellow;
    padding: 10px;
    border-radius: 5px;
}

.specials-icons-card-detail {
    /* position: absolute;
    top: 70px;
    right: 60px; */
    background: yellow;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.specials-header {
    justify-content: center;
    align-items: baseline;
    gap: 5px;
    justify-content: center;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.action-call-container {
    margin-top: 650px;
}

.action-call {
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: #FFE19C;
    font-weight: 500;
    text-align: center;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #3A3042;
    color: white;
    min-width: 100px;
    max-width: 150px;
}

.btn-navy {
    background: #3A3042;
    color: white;
    padding: 0;
}

.btn-outline-navy {
    background: #3A3042;
    color: white !important;
    border: 1px solid #3A3042;
}

.btn-outline-navy-reverse {
    background: white !important;
    color: #3A3042;
    border: 1px solid #3A3042;
    font-size: 0.8rem;
}

.btn-outline-navy:hover,
.btn-outline-navy:active,
.btn-outline-navy:focus {
    background: #EDFFD9;
    color: #3A3042 !important;
}

.btn-outline-navy-reverse:hover,
.btn-outline-navy-reverse:active,
.btn-outline-navy-reverse:focus {
    background: #3A3042 !important;
    color: #fff;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #EDFFD9;
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background-color: #3A3042 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Toasts  */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-navy:hover,
.btn-navy:active,
.btn-navy:focus {
    background: #3A3042;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-navy {
    background: #3A3042 !important;
}

/* Product Card */
.card-image {
    object-fit: contain;
    height: 350px;
    width: 100%;
    padding: 1rem 1rem 0;
}

.category-icon-image {
    width: 20px;
}

.a-product-image {
    position: relative;
}



/* Shopping Bag */
.bag-container {
    padding-left: 5px;
    padding-right: 5px;
}

.delivery-delta {
    background: #FFE19C;
}

.table-head {
    font-size: 0.7rem;
    text-align: center;
}

.btn-group-sm>.btn,
.btn-sm {
    font-size: 0.8rem !important;
}

/* Admin Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #3A3042;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/* Error pages */
.error-page-container {
    margin-top: 150px;
    margin-left: 10px;
}

.error-page-buttons {
    gap: 3px;
}

/* Footer */
.navigation,
.help {
    display: none;
}

footer {
    flex-shrink: 0;
    background-color: #3A3042;
    font-size: 0.8em;
    width: 100vw;
}

.social-icon {
    height: 2rem;
}

/* Social icons > a */
a.me-4.link-secondary {
    text-decoration: none;
}

/* Navigation links in Footer */
a.text-reset {
    text-decoration: none;
}

.copyright {
    background-color: #3A3042;
}

/* Newsletter container */

.newsletter-container {
    margin-top: 100px;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;
}

#mc-embedded-subscribe {
    clear: both;
    width: auto;
    display: block;
    margin: 1em 5% 1em 5%;
}

#mc_embed_signup div#mce-responses {
    padding: 0 !important;
    margin: 0 !important;
}

/* Media Queries */
/* Small screen devices (min-width: 576px) {} */
@media only screen and (min-width: 576px) {
    .display-4.logo-font.text-black {
        font-size: 2rem;
        padding: 0.5rem;
    }

    .dropdown-menu {
        left: 5px;
    }

    .bag-container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .table-head {
        font-size: 1rem;
        text-align: left;
    }

    .btn-shop {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
    }

    .btn-group-sm>.btn,
    .btn-sm {
        font-size: 1rem !important;
    }

    /* Newsletter form */
    #mc_embed_signup {
        background: #fff;
        clear: left;
        font: 14px Helvetica, Arial, sans-serif;
        width: 100%;
    }

}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {

    .navigation,
    .help,
    .contact {
        display: block;
    }

    .grand-total {
        font-size: 2rem;
    }

    .wishlist-text {
        align-items: flex-start !important;
    }

}

/* Large screen devices (992px and above) */
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .action-call {
        font-size: 1.5rem;
    }

    .card-image {
        padding-top: 2rem;
    }
}

/* Extra large screen devices (1200px and above) */
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .action-call {
        font-size: 2rem;
    }

}

@media (min-width: 1675px) {
    main {
        max-width: 1400px;
        margin: 0 auto;
    }

    .action-call-container {
        margin-top: 450px;
    }

    footer {
        flex-shrink: 0;
        font-size: 0.6em;
    }
}