{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="container h-100 error-page-container">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h3 class="display-4 logo-font action-call text-black p-2">
                Sorry, the page you are looking for doesn't exist.
            </h3>
            <div class="my-5">
                <div class="d-flex error-page-buttons">
                    <a class="btn btn-outline-navy rounded-0" href="{% url 'home' %}"
                        aria-label="Takes the user to the home page">Home</a>
                    <a href="{% url 'products' %}" aria-label="Takes the user to view all the products."
                        class="btn btn-outline-navy rounded-0">
                        Back to store
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}