  <!-- Footer -->
  <!-- https://mdbootstrap.com/docs/standard/navigation/footer/ -->
  <footer class="text-center text-sm-start bg-navy text-white mt-5">
      <!-- Section: Social media -->
      <div class="d-flex justify-content-center justify-content-lg-center p-4 border-bottom social">
          <div>
              <a href="https://www.facebook.com/profile.php?id=61552735070007"
                  class="me-4 mr-2 link-secondary text-white fa-lg" target="blank"
                  aria-label="Facebook opens in a new tab. The link takes the user to the store's facebook page.">
                  <i class="fab fa-facebook"></i>
              </a>
              <a href="https://www.twitter.com/" class="me-4 mr-2 link-secondary text-white fa-lg" target="blank"
                  rel="noopener" aria-label="Twitter opens in a new tab"><i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.pinterest.com/" class="me-4 mr-2 link-secondary text-white fa-lg" target="blank"
                  rel="noopener" aria-label="Pinterest opens in a new tab">
                  <i class="fab fa-pinterest"></i>
              </a>
              <a href="https://www.instagram.com/" class="me-4 mr-2 link-secondary text-white fa-lg" target="blank"
                  rel="noopener" aria-label="Instagram opens in a new tab">
                  <i class="fab fa-instagram"></i>
              </a>
          </div>
      </div>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <div class="links border-bottom">
          <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                  <!-- Grid column -->
                  <!-- Help links -->
                  <div class="col-md-3 col-lg-4 col-xl-3 help mx-auto mb-4">
                      <h6 class="text-uppercase text-white fw-bolder mb-4">
                          HELP
                      </h6>
                      <div>
                          <p>
                              <a href="{% url 'enquiries' %}" class="text-reset"
                                  aria-label="Takes user back to FAQ">FAQ</a>
                          </p>
                          <p>
                              <a href="{% url 'privacy_policy' %}" class="text-reset"
                                  aria-label="Takes user to the privacy policy.">PRIVACY
                                  POLICY</a>
                          </p>
                          <p>
                              <a href="{% url 'terms_and_conditions' %}" class="text-reset"
                                  aria-label="Takes user to the terms of use.">TERMS OF
                                  USE</a>
                          </p>
                          <p>
                              <a href="{% url 'enquiries' %}#faq" class="text-reset"
                                  aria-label="Takes user to faq where they can read about shipping information.">SHIPPING
                                  INFO</a>
                          </p>
                      </div>
                  </div>
                  <!-- End of Help -->
                  <!-- Grid column -->

                  <!-- Navigation Links -->
                  <!-- Grid column -->
                  <div class="col-md-2 col-lg-2 col-xl-2 navigation mx-auto mb-4">
                      <!-- Links -->
                      <h6 class="text-uppercase text-white fw-bolder mb-4">
                          Navigation
                      </h6>
                      <p>
                          <a href="/" class="text-reset" aria-label="Takes user back to home page">HOME</a>
                      </p>
                      <p>
                          <a href="{% url 'products' %}" class="text-reset" aria-label="BOOKS">BOOKS</a>
                      </p>
                      <p>
                          <a href="{% url 'articles' %}" class="text-reset" aria-label="Articles">ARTICLES</a>
                      </p>
                      <p>
                          <a href="{% url 'contact' %}" class="text-reset" aria-label="Contact Us">CONTACT US</a>
                      </p>
                  </div>
                  <!-- Grid column -->
                  <!-- End of navigation -->

                  <!-- Newsletter -->
                  <!-- Grid column -->
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 d-flex flex-column align-items-center">
                      <!-- Links -->
                      <h6 class="text-uppercase fw-bolder text-white mb-4">
                          NEWSLETTER
                      </h6>
                      <p>
                          Sign up to our monthly newsletter to keep up with all our news!
                      </p>
                      <a href="{% url 'newsletter' %}" aria-label="Subscribe Now!"
                          class="btn btn-outline-navy-reverse rounded-0 mt-2">
                          Subscribe now!
                      </a>
                  </div>
                  <!-- Grid column -->
                  <!-- End of newsletter -->

                  <!-- Contact Information -->
                  <!-- Grid column -->
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto contact mb-md-0 mb-4">
                      <!-- Links -->
                      <h6 class="text-uppercase fw-bolder text-white mb-4">Contact</h6>
                      <p><i class="fas fa-home me-3 text-white"></i> Tuchomerice 7, 16 400, Czech
                          Republic</p>
                      <p>
                          <a href="mailto:bookwormkid@gmail.com" target="_blank" rel="noopener"
                              aria-label="A clickable envelope icon opens a new email from in your browser."><i
                                  class="fas fa-envelope me-3 text-white"></i> </a>bookwormkid@gmail.com
                      </p>
                      <p><i class="fas fa-phone me-3 text-white"></i> + 420 775 371 859</p>
                  </div>
                  <!-- Grid column -->
                  <!-- End of Contact Information -->
                  <!-- Collapsible HELP section for mobiles and small devices -->
                  <div class="mx-auto">
                      <p class="d-md-none">
                          <a class="btn btn-outline-navy-reverse rounded-0 mt-2" data-toggle="collapse"
                              href="#collapseExample" role="button" aria-expanded="false"
                              aria-controls="collapseExample"
                              aria-label="Collapsible button to show Tems and Conditions, Privacy Policy and Shipping information. HELP">
                              Help
                          </a>
                      </p>
                      <div class="collapse mb-2" id="collapseExample">
                          <div class="card card-body">
                              <p>
                                  <a href="{% url 'enquiries' %}" class="text-black"
                                      aria-label="Takes user back to frequently asked questions">FAQ</a>
                              </p>
                              <p>
                                  <a href="{% url 'privacy_policy' %}" class="text-black"
                                      aria-label="Takes user to the privacy policy.">PRIVACY
                                      POLICY</a>
                              </p>
                              <p>
                                  <a href="{% url 'terms_and_conditions' %}" class="text-black"
                                      aria-label="Takes user to the terms of use.">TERMS OF
                                      USE</a>
                              </p>
                              <p>
                                  <a href="{% url 'enquiries' %}#faq" class="text-black"
                                      aria-label="Takes user to shipping information in faqs.">SHIPPING
                                      INFO</a>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Grid row -->
              <!-- End of Help -->
          </div>
      </div>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center copyright p-4">
          © 2023 Copyright:
          <a class="text-reset text-secondary" href="https://codeinstitute.net/"
              aria-label="For Educational Purposes Only">
              For Educational Purposes Only
          </a>
      </div>
      <!-- End of Copyright -->
  </footer>
  <!-- Footer -->