<!-- Main navigation - product filtering, products by category, articles, ... -->
<div class="collapse navbar-collapse bg-navy" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto p-2">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                HOME
            </a>
        </li>
        <!-- Sorting by price, rating and category -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}"
                id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc"
                    aria-label="Takes the user to the products sorted by price in ascending order."
                    class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc"
                    aria-label="Takes the user to the products sorted by rating in descending order."
                    class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=title&direction=asc"
                    aria-label="Takes the user to the products sorted by name in ascending order."
                    class="dropdown-item ">By Name</a>
                <a href="{% url 'products' %}?sort=category&direction=asc"
                    aria-label="Takes the user to the products sorted by category in ascending order."
                    class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" aria-label="Takes the user to all the products."
                    class="dropdown-item">All Books</a>
            </div>
        </li>
        <!-- Sorting by Skill level -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5"
                aria-label="Takes the user to the dropdown for the reading skill levels" href="#"
                id="all-skill-level-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skill Level
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=Reluctant"
                    aria-label="Takes the user to books for reluctant readers." class="dropdown-item ">Reluctant
                    Reader</a>
                <a href="{% url 'products' %}?category=Keen" aria-label="Takes the user to books for keen readers."
                    class="dropdown-item">Keen Reader</a>
                <a href="{% url 'products' %}?category=Avid" aria-label="Takes the user to books for avid readers."
                    class="dropdown-item">Avid Reader</a>
                <a href="{% url 'products' %}" aria-label="Takes the user to view all books." class="dropdown-item">All
                    Books</a>
            </div>
        </li>
        <!-- Sorting by special offers -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5"
                aria-label="Takes the user to dropdown for special offers." href="#" id="special-offers-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="special-offers-link">
                <a href="{% url 'products' %}?new=True" aria-label="Takes the user new arrivals."
                    class="dropdown-item">New
                    Arrivals</a>
                <a href="{% url 'products' %}?featured=True" aria-label="Takes the user to featured books."
                    class="dropdown-item">Featured Books</a>
                <a href="{% url 'products' %}?sale=True" aria-label="Takes the user to books on sale."
                    class="dropdown-item">On
                    Sale</a>
                <a href="{% url 'products' %}?specials=True" aria-label="Takes the user all special offers."
                    class="dropdown-item">All
                    Specials</a>
            </div>
        </li>
        <!-- Articles -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'articles' %}"
                id="article-link">
                ARTICLES
            </a>
        </li>
        <!-- Contact Us -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'contact' %}" id="contact-link">
                Contact Us
            </a>
        </li>
    </ul>
</div>
<!-- End of Main Navigation -->