{% extends 'base.html' %}
{% load static %}

{% block extra_title %} | 403 Page {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- 403 Error page -->
{% block content %}
<div class="overlay"></div>
<div class="error-page-container">
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-4 text-center mt-5">Error Page - 403</h2>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-12">
        <p class="text-muted mb-5 text-center">You are not authorized to perform this action.</p>
    </div>
    <div class="my-5">
        <div class="d-flex error-page-buttons justify-content-center">
            <a class="btn btn-outline-navy rounded-0" href="{% url 'home' %}"
                aria-label="Takes the user to the home page">Home</a>
            <a href="{% url 'products' %}" aria-label="Takes the user to view all the products."
                class="btn btn-outline-navy rounded-0">
                Back to store
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}