{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Frequently Asked Questions {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="logo-font mb-4 text-center mt-5">Enquiry Management</h2>
            <h5 class="text-black text-center">Add an Enquiry</h5>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <!-- Add enquiry form -->
            <form method="POST" action="{% url 'add_enquiry' %}" class="form mb-5" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-right">
                    <a class="btn btn-outline-navy rounded-0" href="{% url 'enquiries' %}"
                        aria-label="Takes the user to all the books.">Cancel</a>
                    <button class="btn btn-outline-navy rounded-0" type="submit"
                        aria-label="Lets the user add an enquiry.">Add Enquiry</button>
                </div>
            </form>
            <!-- End of form -->
        </div>
    </div>
</div>
{% endblock %}

<!-- JS Block -->
{% block postloadjs %}
{{ block.super }}
{% endblock %}
<!-- End of JS block -->