{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="logo-font mb-4 mt-5">Enquiry Managment</h2>
            <h5 class="text-muted">Edit Enquiry and/or Answer</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form action="{% url 'edit_enquiry' enquiry.id %}" method="POST" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy}}
                <small>
                    <div class="text-right">
                        <a href="{% url 'enquiries' %}" class="btn btn-outline-navy rounded-0"
                            aria-label="Lets the user cancel the editing of enquiry.">Cancel</a>
                        <button class="btn btn-outline-navy rounded-0" type="submit"
                            aria-label="Lets the user edit the chosen enquiry.">Edit Enquiry</button>
                    </div>
                </small>
            </form>

        </div>
    </div>
</div>


{% endblock %}